.ecosystem-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.eco-card {
  background-color: #161b22;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  border-top: 3px solid #58a6ff;
  border: 1px solid #30363d;
  border-top-width: 3px;
}

.eco-card h4 {
  margin-bottom: 10px;
  font-size: 19px;
}

.eco-card p {
  font-size: 15px;
  color: #8b949e;
}
